<div class="background">
  <section class="container paneel-inleiding">
    <h2>Inleiding</h2>
    <div class="row justify-content-between align-items-center">
      <img src="../../assets/img/map.png" alt="map" width="200px" height="200px">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa fugit doloribus temporibus aut magni at facere
        quis minus earum aliquam quod doloremque, est quia, autem mollitia odio. Aperiam, aliquid earum? Lorem ipsum dolor,
        sit amet consectetur adipisicing elit. Culpa fugit doloribus temporibus aut magni at facere quis
        minus earum aliquam quod doloremque, est quia, autem mollitia odio. Aperiam, aliquid earum? Lorem ipsum dolor,
        sit amet consectetur adipisicing elit. Culpa fugit doloribus temporibus aut magni at facere quis
        minus earum aliquam quod doloremque, est quia, autem mollitia odio. Aperiam, aliquid earum?
      </p>

    </div>
  </section>
  <section class="container paneel-gemeentes">
    <div class="row-fluid">
      <h2>Kies uw gemeente:</h2>
      <div class="form-group">
        <mat-form-field class="example-full-width">
          <mat-label>Stad</mat-label>
          <input
            type="text"
            aria-label="Stad"
            matInput
            [formControl]="locatieControl"
            [matAutocomplete]="auto"
            [(ngModel)]="locatieValue"
          />
          <mat-error *ngIf="locatieControl.invalid">Gelieve een stad aan te duiden</mat-error>
          <mat-autocomplete 
            #auto="matAutocomplete"
            [displayWith]="displayLocatie"
            (stedenSelected)="onSelectionChangedLocatie($event)"
          >
            <mat-option
              *ngFor="let stad of filteredSteden | async"
              [value]="stad"
            >
              {{ stad.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      
    </div>
  </section>
  <section class="container paneel-gemeentes">
    <h2>Weersverwachting voor {{ test }}</h2>
    <div class="col-md-8 justify-content-center">
      <canvas id="canvas" > {{ chart }}</canvas>
  </div>
  </section>
  <section>
    
  </section>
</div>