.afbeelding{
    background-image: url("../../assets/img/sky1.jpg");
    background-size: 100% auto;
    background-repeat:   no-repeat;
    background-position: cover;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
}
p{line-height: 0;}

