nav{
    // background-color: #60b2f1;
    background-color: 	#e3e9e7;
    opacity: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.navbar-nav li a{
    font-size: 1.2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #529eac;
}

a:hover{
    color: black;
    text-decoration: underline;
    font-weight: bold;
}